<div class="grid-container">
    <div class="grid-x">
      <div class="small-12 medium-10 medium-offset-1 large-8 large-offset-2 cell">
        <h2>Profile</h2>
        <h3>Name</h3>
        <p>
          {{name}}
        </p>
        <h3>Email</h3>
        <p>
          {{email}}
        </p>
      </div>
    </div>