<!-- Links to replicate

deets & registration:   https://www.msoe.edu/academics/high-school-programs/
student view:           http://sapphire.msoe.edu:8080/OpComp/

practice info:          https://faculty-web.msoe.edu/hasker/opcomp/practice.shtml
data files:             https://faculty-web.msoe.edu/hasker/opcomp/data/

-->

<div class="column m-1">
    <aside class="menu">
      <p class="menu-label">
         Pre-competition Information
      </p>
      <ul class="menu-list">
        <li><a href="https://www.msoe.edu/academics/high-school-programs/">Details & Registration</a></li> 
        <li><a>Important Dates</a></li>
      </ul>
      <p class="menu-label">
        Competition Day
      </p>
      <ul class="menu-list">
        <li><a href="http://sapphire.msoe.edu:8080/OpComp/">Submission & Scoring App</a></li>
        <li><a href="/info/rules">Competition Rules</a></li>
        <li><a href="/info/instructions">Instructions (WiFi, IDEs, etc.)</a></li>
        <li><a href="/info/practice">Practice Session Info</a></li>
        <li><a href="/info/data">Data Files</a></li>
      </ul>
    </aside>
  </div>