<div class="top-bar" *ngIf="authService.isLoggedIn | async as isLoggedIn">
    <div class="top-bar-left">
      <a class="logo" routerLink="/">MyApp</a>
    </div>
    <div class="top-bar-right show-for-medium">
      <ul class="menu">
        <li><a  routerLink="/profile">Profile</a></li>
        <li><a (click)="onLogout()">Logout</a></li>
      </ul>
    </div>
</div>

<!-- header -->
<app-header></app-header>

<!-- routes get injected here -->
<router-outlet></router-outlet>

<!-- footer -->
<app-footer></app-footer>