


<div class="columns">
    
    <app-sidebar></app-sidebar>

    <div class="column">
      <section class="hero is-dark is-bold is-fullheight">
        <div class="hero-body">

          <div class="container has-text-centered ">

            <h1 class="title has-text-white">
              <a class="title has-text-white border">MSOE Op Computer Competition Homepage</a>
              <br>
              
              
              <div class="table-container m-1">
                <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth ">
                  
                  <thead >
                    <th class="test">Problems (PDF)</th>
                    <th>Solutions (.java/.zip)</th>
                    <th>Scores (PDF)</th>
                    <th>Data Files</th>
                  </thead>

                  <tbody>
                    <tr class="is-size-4 " *ngFor="let a of archive">
                      <td><a href="{{a.problemURL}}">{{a.name}}</a></td>
                      <td><a href="{{a.solutionURL}}">{{a.name}}</a></td>
                      <td><a href="{{a.scoreURL}}">{{a.name}}</a></td>
                      <td><a href="{{a.dataURL}}">{{a.name}}</a></td>
                    </tr>
                  </tbody>
                  

                </table>
              </div>
            </h1>
          </div>
        </div>
      </section>
    </div>

  </div>