<p><b>Teams:</b> {{count}}</p>
<p *ngFor="let team of teams">{{team.name}}</p>

<table>
    <tr>
        <th>Team</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th>6</th>
        <th>7</th>
        <th>8</th>
        <th>9</th>
        <th>Total</th>
    </tr>


    <tr *ngFor="let team of getTeamsByScore()">
        <td>{{team.name}}</td>
        <td>{{team.scores[1]}}</td>
        <td>{{team.scores[2]}}</td>
        <td>{{team.scores[3]}}</td>
        <td>{{team.scores[4]}}</td>
        <td>{{team.scores[5]}}</td>
        <td>{{team.scores[6]}}</td>
        <td>{{team.scores[7]}}</td>
        <td>{{team.scores[8]}}</td>
        <td>{{team.scores[9]}}</td>
        <td>{{team.total}}</td>
    </tr>
</table>