<section class="hero is-light is-fullheight is-bold" >
    <div class="hero-body ">
      <div class="container">
        
        <div class="columns is-centered">
          <div class="column is-8-tablet is-7-desktop is-7-widescreen">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="field">
                
                <label for="" class="label">Email</label>
                <div class="control has-icons-left">
                  <input type="email" name="email" placeholder="e.g. bobsmith@gmail.com" class="input" formControlName="email"required>
                  <span class="icon is-small is-left">
                <i class="fa fa-envelope"></i>
              </span>
                </div>
              </div>
              <div class="field">
                
                <label for="" class="label">Password</label>
                <div class="control has-icons-left">
                  <input type="password" name="password" placeholder="*********" class="input" formControlName="password" required>
                  <span class="icon is-small is-left">
                <i class="fa fa-lock"></i>
              </span>
                </div>
              </div>
              <div class="field">
                <label for="" class="checkbox">
                  
                  <input type="checkbox" name="rememberMe">
                  Remember me
                </label>
              </div>
              <div class="field">
                <button name="login" class="button is-danger" (click)="onSubmit()">
                  Login
                </button>
              </div>
              <div class="register-link">
        Not yet registered? <a routerLink="/register">Register Now</a>
      </div>
            </form>
          </div>
        </div>
      </div>
    </div>    </section>
