<div class="container-fluid">

    <div align="center">
    <h1>OP 2019 Computer Competition Instructions</h1>
    
    <p>by Dr. Robert Hasker
    <br/>contributions by Drs. D. Rothe, E. Durant, H. Welch, and C. Tritt
    <br/>Friday 22 November 2019</p>
    </div>
    
    <h1>Contents</h1>
    
    <ul>
    <li><a fragment="#setting_up_your_laptop">Setting Up Your Laptop</a></li>
    <li><a href="#monitoring_scores_on_the_web">Monitoring Scores on the Web</a></li>
    <li><a href="#using_eclipse_java_projects">Using Eclipse for Java Projects</a></li>
    <li><a href="#using_bluej_java_projects">Using BlueJ for Java Projects</a></li>
    <li><a href="#using_console_java_projects">Using Java from the Command Line</a></li>
    <li><a href="#using_MSVS">Using Microsoft Visual Studio for C++ Projects</a></li>
    <li><a href="#anaconda_for_python">Using Anaconda for Python Projects</a></li>
    <li><a href="#finding_data_files">Finding Data Files</a></li>
    <li><a href="#submitting_programs">Submitting Programs</a></li>
    </ul>
    
    <hr/>
    
    <h1><a id="setting_up_your_laptop">Setting Up Your Laptop</a></h1>
    
    <h2>MSOE Laptops</h2>
    
    <ol>
    <li>Click on the "Sign in" button on the welcome screen. No password is needed.</li>
    <li>Laptops have been configured to access wireless network "MSOE-Guest". Ensure you are connected to this network.</li>
    </ol>
    
    <p>Note: Occasionally, the laptop may ask if you want to download and install various updates. You should always decline these prompts.</p>
    
    <h2>Team-Supplied Laptops</h2>
    
    <p>Connect to the Wi-Fi network "MSOE-Guest." No password is needed.</p>
    
    <h1><a name="monitoring_scores_on_the_web">Monitoring Scores on the Web</a></h1>
    
    <p>The score website works in Firefox and Chrome; it might not work in Internet Explorer:
    <a href="http://sapphire.msoe.edu:8080/OpComp/">live data during competition</a> (no login required; just click View Scores)</p>
    
    <p>Note: All file locations discussed in these instructions are recommendations, not requirements. You may set up the projects and files in any fashion you choose. The contents of the laptop are not visible to the judges. Only the source files that you submit via the scoring website will be used for evaluation.</p>
    
    <h1><a name="using_eclipse_java_projects">Using Eclipse for Java Projects</a></h1>
    
    <ol>
    <li>Double-click the Eclipse icon on the desktop.</li>
    <li>The "Workspace Launcher" should prompt you for a workspace. If it doesn't, select "File|Switch Workspace|Other..."</li>
    <li>Browse to "C:\EclipseWorkspace" if it is not already selected. Click OK.</li>
    <li>Select File | New | Java Project...</li>
    <li>For the "Project name," enter "probN" (e.g., "prob1", "prob7").</li>
    <li>In the JRE box, select "Use default JRE 'jdk-13.0.1' and workspace
      compiler preferences.</li>
    <li>Under "Project Layout" select "Use project folder as root for sources
      and class files."</li> 
    <li>Select "Finish".</li>
    <li>If you don't see the Package Explorer (usually the left pane), select the arrow in the upper right corner of the Eclipse Welcome Screen to move to the Workbench.</li>
    <li>Click on your new project and ensure it is selected in the Package Explorer.</li>
    <li>Select File | New | Class.</li>
    <li>Enter "ProbN" for the name.</li>
    <li>Select the check-box that indicates a public static void <code>main</code> stub is to be generated.</li>
    <li>Click "Finish".</li>
    <li>Enter your Java program, which will start in the <code>main</code> method.</li>
    <li>When you are ready to test your program, select Run | Run As | Java Application 
    (Alt-Shift-X followed by J) or press Ctrl-F11.</li>
    <li>Select "OK" to save your work.</li>
    <li>Your program runs and the output is shown in the Console tab.</li>
    <li>If necessary, edit your program and try again.</li>
    <li>When you are satisfied, right-click the top-level probN icon in the Package Explorer and select Close Project.</li>
    <li>Follow the instructions at <a href="#submitting_programs">Submitting Programs for Judging</a> to submit your solution. Note, if you followed the instructions above, the Java source file for you to submit will be located at C:\EclipseWorkspace\[project name]\[project name]\[class name].java.</li>
    </ol>
    
    <h2>Notes</h2>
    
    <ul>
    <li>As you edit your source file, it will be automatically compiled and any
        problems will show up near the bottom of the workspace under the "Problems" 
        tab as well as with the red underlines. Double-click on a problem to go directly to the offending line of code.</li>
    <li>To switch to another, existing project, double-click on the file in that project that you want to edit in the Package Explorer.</li>
    <li>When a problem will be opening a data file, be sure the data file is in the directory containing your .java file to be visible to your program.</li>
    </ul>
    
    <h1><a name="using_bluej_java_projects">Using BlueJ for Java Projects</a></h1>
    
    <p>BlueJ is provided for teams that prefer it.</p>
    
    <ol>
    <li>Double-click the BlueJ icon on the desktop.</li>
    <li>Project | New Project...</li>
    <li>Enter &quot;C:\BlueJProjects\&quot; in the Location name field.</li>
    <li>Enter probN (e.g., "prob3") in the Name field.</li>
    <li>Click &quot;OK&quot;</li>
    <li>Click New Class...</li>
    <li>Enter "ProbN" for the name.</li>
    <li>Click "OK".</li>
    <li>Double-click the &quot;probN&quot; block icon. This will open an edit window for your program.</li>
    <li>Enter your Java program. Make sure there is a
        <code>public static void main(String[] args)</code> method, since that is where the judge will start your program.</li>
    <li>When you are ready to test your program, click &quot;Compile&quot;</li>
    <li>Continue to click &quot;Compile&quot; in the Class window fixing errors until you 
        compile without errors. Close the class editor when finished.</li>
    <li>To run program, right-click on the block icon in the project screen. Select <code>void main(String[] args)</code> from the menu.
        Click "Ok" to specify no arguments.
        A console window will appear with your program's output and will accept your keyboard input.</li>
    <li>When you are satisfied, select Project | Close</li>
    <li>Follow the instructions at <a href="#submitting_programs">Submitting Programs for Judging</a> to submit your solution. Note, if you followed these instructions, your source file will be located at C:\BlueJProjects\[project name]\[class name].java. This is the file to submit for judging.</li>
    <li>Begin working on another problem (step 2).</li>
    </ol>
    
    <h1><a name="using_console_java_projects">Using Java from the Command Line</a></h1>
    
    <p>The Java command line compiler and JVM are available for those who prefer that environment.</p>
    
    <ol>
    <li>Double-click the Notepad++ icon on the desktop. Notepad++ is a good text editor for Java code.</li>
    <li>Notepad++ will start with a new blank file. Select File | Save As and navigate to C:\JavaCode and save the file with a name such as ProbN.java where N is the problem you are working on.</li>
    <li>Enter your Java program. Make sure there is a <code>main</code> method, since that is where the judge will start your program.</li>
    <li>When you are ready to test your program, save the file. You may close Notepad++ or leave it open.</li>
    <li>Click the "cmd" (Command Prompt) icon on the taskbar.</li>
    <li>Change directory to C:\JavaCode.</li>
    <li>Compile the program by running the compiler - javac ProbN.java.</li>
    <li>If errors are found, fix errors by editing source file. If no errors are found, run the program by invoking the JVM - java ProbN (no extension) at the command prompt.</li>
    <li>Follow the instructions at <a href="#submitting_programs">Submitting Programs for Judging</a> to submit your solution. Your source file will be located at C:\JavaCode\[class name].java. This is the file to submit for judging.</li>
    <li>Begin working on another problem (step 1).</li>
    </ol>
    
    <h1><a name="using_MSVS">Using Microsoft Visual Studio (MSVS) C++ Projects</a></h1>
    
    <ol>
    <li>Click on the Microsoft Visual Studio 2017 icon on the taskbar.
      <ul><li>If the icon is not available, browse to and launch the IDE executable: C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\Common 7\IDE\devenv.exe This will show as an "Application."
              Do not select devenv.exe.config, which shows as "XML Configuration File."</li></ul>
    </li>
    <li>If prompted to sign in, select &quot;Not now, maybe later.&quot;</li>
    <li>Select File | New Project...</li>
    <li>Select Visual C++ | Windows Console Application as the project type.</li>
    <li>The project location should be defaulted to C:\VisualStudioProjects If necessary, select this directory.</li>
    <li>In "Name", enter the project name, which should be "probN" (e.g., "prob1", "prob7").</li>
    <li>Check Place solution and project in the same directory.</li>
    <li>Click "OK"</li>
    <li>Enter your program in the window that appears. Do not remove #include &quot;stdafx.h&quot;</li>
    <li>Press Ctrl+Shift+B (Build | Build Solution) to build your project.</li>
    <li>Press Ctrl+F5 (Debug | Start Without Debugging) to run your program normally. (You are welcome to try the debugger.)</li>
    <li>When you are ready for your program to be judged, select "File | Close Solution".</li>
    <li>Follow the instructions at <a href="#submitting_programs">Submitting Programs for Judging</a> to submit your solution. If you followed these instructions, the file you should submit will be located at C:\VisualStudioProjects\[project name]\[project name]\[source name].cpp.</li>
    <li>Go to step 3 to get started on the next problem.</li>
    </ol>
    
    <p>To switch to another, existing project, select "File | Recent Projects". If the project you are
    looking for isn't there, use "File | Open | Project" and locate the desired project on your C:\
    drive.</p>
    
    <h2>Minimal example program</h2>
    
    <pre>
    #include &lt;iostream&gt;
    using namespace std;
    
    int main() {{'{'}}
         cout &lt;&lt; "Hello, World!" &lt;&lt; endl;
         return 0;
    {{'}'}}</pre>
    
    (Note: if your version of Visual Studio generates files with <code>#include
    &lt;stdafx.h&gt;</code> in them, then leave that line in your program.)
    
    <h1><a name="anaconda_for_python">Using Anaconda for Python Projects</a></h1>
    
    <ol>
    <li>Use Notepad++ or another text editor to edit your Python source code</li>
    <li>Save your Python code in C:\PythonCode\. It is recommended that you use filenames like prob5.py.</li>
    <li>Run &quot;Anaconda Prompt&quot; using either the taskbar icon or by searching on the Start menu.</li>
    <li>cd \PythonCode</li>
    <li>Run you code: e.g., python prob5.py</li>
    <li>If your leading whitespace is a mixture of tabs and spaces, you may violate Python formatting rules. In Notepad++, select Edit|Blank Operations|Tab to Space or Space to Tab (Leading) to clean up your file's formatting.</li>
    <li>Follow the instructions at <a href="#submitting_programs">Submitting Programs for Judging</a> to submit your solution.</li>
    </ol>
    
    <h1><a name="finding_data_files">Finding Data Files</a></h1>
    
    <p>Some of the programming problems in this competition
    may require data files. These files should be present in the folder specified below in order to be found when the program runs. All required files will be available from <a href="data/">this link</a>. When you click a particular file on this page, if your browser displays the file rather than opening the download dialog, then go <em>Back</em> to the data page, right-click the file name and select the <em>Save link [or target] as...</em>option. Complete the <em>Save as</em> dialog box to save the file in the project folder and click <em>Save</em> to save the file. Data files must be used exactly as they are provided and/or described in the problem statement. You may not add or remove lines or reformat the contents of these files in any way. These files will be used in this same format for evaluating your program. 
    <b>DO NOT</b> cut and paste the files from the browser window; use the Save link feature to ensure that you get the entire file in its proper form.</p>
    
    <h2>Where to store your data files</h2>
    <ul>
    <li>C++ in MSVS: in the project subdirectory, e.g., C:\VisualStudioProjects\prob8\prob8\data.txt</li>
    <li>Java with Eclipse: in the project subdirectory, C:\EclipseWorkspace\prob7\prob7\data.txt</li>
    <li>Java with BlueJ: in the project subdirectory, C:\BlueJProjects\prob7\data.txt</li>
    <li>Java from the Command Line: in the source subdirectory, C:\JavaCode\data.txt</li>
    <li>Python using Anaconda: in the source subdirectory, C:\PythonCode\data.txt</li>
    </ul>
    
    <p>Note: All file locations discussed in these instructions are recommendations, not requirements. You may set up the projects and files in any fashion you choose. The contents of the laptop are not visible to the judges. Only the source files that you submit via the scoring website will be used for evaluation.</p>
    
    
    <h2>Take care with file extensions</h2>
    
    <p>When saving a data file, Windows sometimes adds an extra extension.
    For example, input.txt actually gets saved as input.txt.txt, making it hard for your program to find the file it needs.
    If your computer isn't configured to show these extensions, do the following.</p>
    
    <ul>
    <li>Search for "Folder Options" on the start menu and select the resulting shortcut.</li>
    <li>Select the &quot;View&quot; tab.</li>
    <li>Deselect the following option, which is about halfway down the list: "Hide extensions for known file types."</li>
    <li>Click Ok.</li>
    </ul>
    
    <h1><a name="submitting_programs">Submitting Programs for Judging</a></h1>
    
    <h2>Using the competition management website</h2>
    
    <ol>
    <li>Log in to <a href="http://sapphire.msoe.edu:8080/OpComp/"></a> using your team's Scorer Username (OPXX) and password.</li>
    <li>Make sure you're viewing the "Dashboard" tab.</li>
    <li>Click on the problem you wish to submit.</li>
    <li>Click Choose File and select the source code file (e.g., prob1.java) to submit from your C:\ drive.</li>
    <li>If you have multiple files to submit (e.g., .h and .cpp files for C++ projects), click Choose File by file 2 (3, 4, etc.) and select additional files.</li>
    <li>Click Submit Solution.</li>
    <li>The submission will be marked as "Pending", awaiting judge attention.</li>
    </ol>
    
    <h4>Notes</h4>
    <ul>
    <li>This page will update automatically as the status changes. Alternatively, you can revisit it later.</li>
    <li>You can move on to other problems and re-check the status of your submitted problems at your convenience.</li>
    <li>The main view on your Dashboard tab summarizes the status of each
      problem for your team. You can click on any problem to see more details.</li>
    </ul>
    
    </div>
    