<div class="container-fluid">
    
    <div align="center">
    <h1>OP 2019 Computer Practice Session</h1>
    
    <p>Created by Dr. Robert Hasker
    </div>
    
    
    <hr/>
    
    <h1>Getting Ready for OP!</h1>
    
    
    <ol>
    
    <li>Review <a href="rules.shtml">rules</a> and <a href="instructions.shtml">instructions</a>.</li>
    
    <li><a href="instructions.shtml#setting_up_your_laptop">Start your computer</a>.</li>
    
    <li>Select your programming environment. <a href="instructions.shtml#using_eclipse_java_projects">Eclipse</a> is recommended, but <a href="instructions.shtml#using_bluej_java_projects">BlueJ</a> and <a href="instructions.shtml#using_console_java_projects">command-line</a> are also available for Java,
        <a href="instructions.shtml#using_MSVS">Microsoft Visual Studio</a> is available for C++,
        and <a href="anaconda_for_python">Anaconda</a> is available for Python.</li>
    
    <li>Write a "HelloWorld" program in your selected environment. MSOE student volunteers will be on-hand to help with this.</li>
    
    <li>The competition problems will require user input. Write a practice program that will prompt the user to enter a piece of data (string or number) and echo the entry back to the console. In Java, you would likely use the Scanner class for this. In C++, you would likely use std::cin.</li>
    
    <li>Login to the <a href="instructions.shtml#submitting_programs">scorer website</a> using the username and password you were given when checking in. Click on the dashboard and scores tabs to become familiar with the site.
    You will use this site to submit your source code after the competition begins.</li>
    
    <li>Competition problems often require you to read data from a text
      file. If you have time, use NotePad++ to create a text file with your school
      name in it, then write a program to prompt the user for the name of a
      file, open the file, read a line from it, and display that line on the screen.</li>
    
    <li>In your remaining time, get comfortable, and practice on these: <a href="sampleProblems.pdf">Sample problems from 2003 competition (PDF)</a></li>
    
    </ol>
    
    <h2>Notes:</h2>
    
    <ul>
    <li>All file locations discussed in the instructions are recommendations, not requirements. You may set up the projects and files in any fashion you choose. The contents of your laptop are not visible to the judges. Only the source files that you submit via the scoring website will be used for evaluation.</li>
    
    <li>Each team will use two laptops. While the laptops have access to the
      network for file submission, the laptops are not networked to each
      other. If you need to share files among the laptops, you will need to use
      a flash drive or an SD card (not provided).</li>
    
    </ul>
    
    
    </div>