<div align="center">
    <h1 class="">Op 2019 Computer Competition Rules</h1>
    
    <p>by Dr. Robert Hasker
    <br/>contributions by Drs. D. Rothe, E. Durant, H. Welch, and C. Tritt
    <br/>Friday 22 November 2019
    </p>
    </div>
    
<ol type="1">

    <li>Teams consist of up to 4 students.</li>

    <li>Check-in will begin at 7:30 A.M. on the 1st floor of MSOE's Dierck's Hall, 
        <a href="http://www.msoe.edu/community/about-msoe/visit-msoe/page/2020/campus-map">1025 North Broadway Street in Milwaukee</a>.
    </li>

    <li>The competition will be held in Diercks Hall.</li>

    <li>During the self-directed orientation session that runs until 8:40 A.M. review this document and the <a href="instructions.shtml">detailed instructions</a>.</li>

    <li>Please direct any questions to the MSOE student volunteers who will be available in the competition area. MSOE student volunteers will be able to help teams with technology issues (laptop, network connection, scoring app, development environment).</li>

    <li>After the teacher orientation ends at approximately 8:45 A.M., each team will receive a packet of nine problems.
    <ul>
        <li>3 problems of 10 points each</li>
        <li>3 problems of 20 points each</li>
        <li>3 problems of 40 points each</li>
    </ul>
    Unless specifically noted in the packet, the problems can be attempted in any order. It is up to the team to decide which problems to attempt first.</li>

    <li>Questions regarding clarifications of specific problems should be directed to volunteers who will inform the judges. Answers will be announced on the competition web site when appropriate.</li> 

    <li>Programs must be written in one of the following languages.
        <ul>
        <li>Java:
        <ul>
        <li>MSOE laptop IDEs: Eclipse IDE (recommended), BlueJ, JDK from the command line (javac)</li>
        <li>Additional allowed IDEs on competitor-provided laptops: IntelliJ, ask coordinator well in advance of competition if you wish to use a different IDE</li>
        </ul>
        </li>
        <li>C++:
        <ul>
        <li>MSOE laptop IDE: Microsoft Visual Studio</li>
        <li>Additional allowed IDEs on competitor-provided laptops: ask coordinator well in advance of competition if you wish to use a different IDE</li>
        </ul>
        </li>
        <li>Python:
        <ul>
        <li>MSOE laptop IDE: Anaconda</li>
        <li>Additional allowed IDEs on competitor-provided laptops: Canopy, ask coordinator well in advance of competition if you wish to use a different IDE</li>
        </ul>
        </li>
        </ul>
    Problems do not require GUI knowledge, but will require console I/O. Some problems may require reading or writing data files.</li>

    <li>Program evaluation requests will be made and responded to using the competition website.</li>

    <li>When submitted for evaluation, a program will be run by a judge. If the program operates correctly, the corresponding number of points will be added to the team&rsquo;s score. If the program does not operate correctly, 3 points will be deducted from the team&rsquo;s score and they will be provided with a brief description of the reason.</li>

    <li>Scores will be available in near real-time on the competition website.</li>

    <li>Each team will have approximately 2 hours and 30 minutes to work on and submit
    problem solutions (from about 8:45 A.M. to 11:15 A.M.).</li>

    <li>Teachers/Coaches may have minimal contact with the student teams during the competition, and may not discuss any problems with the students during the competition.</li>

    <li>Teams may use the Internet from their two team laptops to access items such as the Java API reference, code tutorial and problem solving websites, search engines, and articles as part of research teams may wish to conduct as they develop
    their solutions. However, using non-trivial source code (i.e., more than a very small number of sample lines from reference materials)
    directly from Internet references is forbidden. If a solution is deemed to be copied from an Internet reference the team may be disqualified.</li>

    <li>Misuse of the computers will not be tolerated. Teams may be disqualified for such actions. Protect your passwords. Teams are responsible for all use of their accounts.</li>

    <li>Each team is permitted to bring USB mice, USB keyboards, calculators, and language reference materials. The IDEs also provide documentation. Teams may bring their own documentation archives. Teams may not use additional computers or text entry devices.</li>

    <li>Collaboration between teams is prohibited and will result in the disqualification of each team involved.</li>

    <li>The entire team may work as a group on each problem, or individuals may work on specific problems.</li>

    <li>Cell phone use is limited and must be consistent with the above rules. This means that cell phones may not be used to access programming reference materials or as code entry devices and they may not be used for communication.
    However, they may used as clocks, timers, and calculators.</li>

    <li>Ties in point totals among any of the top 3 teams will be broken based on program style and documentation. In this case, style mainly refers to code indentation, choice of descriptive variable names, and overall program design. The judges' decisions regarding style are final.</li>

</ol>