<h1>Get info on the upcoming Op Computer!</h1>

<ul>
    <li><a href="/info/rules">Competition Rules</a></li>
    <li><a href="/info/instructions">Instructions (WiFi, IDEs, etc.)</a></li>
    <li><a href="/info/practice">Practice Session Info</a></li>
    <li><a href="/info/data">Data Files</a></li>
</ul>