<div class="container-fluid">
    
    <h1>Op Computer Competition Data and Other Files</h1>
    <p>NOTE: All files should be downloaded using the Right-Click (Save link/target 
    as ...) feature of your browser. DO NOT cut and paste from the browser window.</p>
    
    <!--
    <p><em>No files currently available for this year</em></p>
    -->
    
    <ul>
    <li><code><a href="prob6_maggie.txt">prob6_maggie.txt</a></code>
    <p>
    <li><code><a href="prob7_maggie.txt">prob7_maggie.txt</a></code>
    </ul>
    
    <p><a href="archive/">Archive of data files from previous years</a></p>
    
    </div>