<div class="navbar navbar-menu is-dark">
    <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumb">
        <ul>
            <li *ngFor="let b of breadcrumbs">
                <a routerLink="{{b.url}}">{{b.label}}</a>
            </li>
        </ul>
    </nav>

    <ul class="navbar-end">
        <!-- <li><p>{{breadcrumbs[0].label}}</p></li> -->
        <li><a routerLink="/login">Login</a></li>
    </ul>
</div>

