<div class="grid-container">
    <div class="grid-x">
      <div class="small-12 medium-10 medium-offset-1 large-8 large-offset-2 cell">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <h2>Sign Up</h2>
          <p>Please enter your details</p>
          <label class="full-width-input">
            Email
            <input type="text" placeholder="Email" formControlName="email" required>
          </label>
          <label class="full-width-input">
            Name
            <input type="text" placeholder="Name" formControlName="name" required>
          </label>
          <label class="full-width-input">
            Password
            <input type="password" placeholder="Password" formControlName="password" required>
          </label>
          <button class="button">Register</button>
        </form>
        <div class="login-link">
          Already registered? <a routerLink="/login">Login Here!</a>
        </div>
      </div>
    </div>
  </div>